body {
    margin: 60px auto;
    width: 70%;
}

h1 {
    font-size: 3em;
    font-family: 'Source Code Pro', monospace;
    color: rgb(128,128,128);
    position: absolute;
    top: 50%;
    left: 50%;
   }
