body {
    margin: 60px auto;
    width: 100%;
    background-color: rgb(255,255,255);
    }

h1 {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(110,110,110);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }

h2 {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(150,150,150);
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

a  {
    color: rgb(150,150,150);
    text-decoration: none;
   }


